/*Para todo el proyecto ----------------------------------------------- */ 
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

iframe {
  width: 70vw;
  height: 70vh;
  overflow: hidden;
}

img {
  vertical-align: middle;
  max-height: 500px;
  width: 100vw;
  position: relative;
}

.hidden {
  visibility: collapse;
}

/* LOGO ------------------------------------------------------------- */
#logo {
  filter: invert(1);
  mix-blend-mode: difference;
  height: 30px;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  padding: 5px;
  margin: auto;
  float: left;
  text-align: left;
  left: 1rem;
  top: 1rem;
  z-index: 20;
}
#logo:hover {
  cursor: pointer;
  animation-name: estira;
}
#mueve:hover {
  animation-name: estira 0.5s;
}

@keyframes estira {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* INDEX ------------------------------------------------------------- */
#indexContainer {
  border: 0px solid black;
  position: sticky;
  right: 5rem;
  top: 2rem;
  width: 150px;
  height: fit-content;
  float: right;
  text-align: center;
  z-index: 2;
}

.buttonIndex {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 25px;
  border: none;
}

.buttonIndex:hover {
  background-color: rgb(249, 249, 249);
  padding-right: 10px;
  transition: 0.25s;
  cursor: pointer;
}

.buttonIndex:after {
  content: "\00bb";
  position: relative;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.buttonIndex:hover:after {
  opacity: 1;
  right: -3px;
}

/* IMAGE CONTAINER ------------------------------------------------------------- */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  z-index: 0;
  height: 500px;
}

.mySlides {
  margin-top: 0;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: none;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  background-color: #21212100;
  top: 65%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  user-select: none;
}

#next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

#prev:hover, #next:hover {
  background-color: rgba(255, 255, 255, 0.137);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


#dotContainer {
  position: relative;
  margin-top: 10px;
  background: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 5;

}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* LOREM ------------------------------------------------------------- */
#Lorem {
  display: block;
  position: relative;
  text-align: justify;
  margin-bottom: 3rem;
}

/* ESPECIALIDADES ------------------------------------------------------------- */
.especialidades {
  display: block;
  position: relative;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  /* border: solid 1px rgb(255, 0, 212); */
}

.especialidadContainer {
  display: inline-flex;
  margin: 0px;
  margin-bottom: 0.5rem;
  width: 100%;
  /* border: solid 1px rgb(0, 0, 255); */
  background: none;
  font-size: 2rem;
  text-align: center;
  align-items: center;
}

.especialidadTexto {
  display: block;
  height: auto;
  cursor: pointer;
  transition: all 0.5s;
  margin: 0px;
  padding-bottom: 6px;
  text-align: left;
  z-index: 5;
  border: solid 2px rgb(255, 255, 255);
}
.especialidadTexto:hover {
  color: #3FBFBF;
  background-color: rgba(255, 255, 255, 0.196);
  backdrop-filter: blur(0px);
  padding-left: 45px;
}

.especialidadSimbolo {
  text-align: center;
  position: absolute;
  height: max-content;
  margin: 0px;
  cursor: none;
  font-size: 1.5rem;
  /* border: solid 1px rgb(255, 123, 0); */
}


/* VISORES-CARTAS PROYECTOS ------------------------------------------------------------- */
#textoVisores {
  position: sticky;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 50px;
  border-bottom: 1px black solid;
  font-weight: bolder;
  z-index: 10;
  text-align: center;
}

.containerProyecto {
  display: inline-block;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.cadaProyecto {
  display: inline-flex;
  vertical-align: top;
  padding: 10px;
  margin-left: clamp(1%,3%,5%);
  margin-right: clamp(1%,3%,5%);
  width: 190px;
  height: 254px;
  min-height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.cadaProyecto:hover {
  border: 1px solid black;
  color: #3FBFBF;
  transform: scale(1.05);
}

.cadaProyecto:active {
  transform: scale(0.95) rotateZ(1.7deg);
}


/* MEDIA ------------------------------------------------------------- */
@media only screen and (orientation: portrait){
  #textoVisores {
    float: right;
    position: 0px 50px 0px 50px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
    top: 0rem;
    width: 100vw;
    text-align: right;
    backdrop-filter: blur(6px);
    background-color: #ffffff00;
  }
}