/*Para todo el proeycto*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.encabezadoIframe {
    text-align: center;
}
iframe {
    width: 70vw;
    height: 70vh;
    overflow: hidden;
}

#logo {
    width: 400px;
    height: 30px;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0);
    position: sticky;
    padding: 5px;
    margin: auto;
    float: left;
    text-align: left;
    left: 1rem;
    top: 1rem;
}
#logo:hover {
    cursor: pointer;
    animation-name: estira;
}
#mueve:hover {
    animation-name: estira 0.5s;
}

@keyframes estira {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }    
}

#indexContainer {
    border: 0px solid black;
    position: sticky;
    right: 5rem;
    top: 2rem;
    width: 150px;
    height: fit-content;
    float: right;
    text-align: center;
}

.buttonIndex {
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 1);
    width: 200px;
    height: 25px;
    border: none;
}

.buttonIndex:hover {
    background-color: rgb(249, 249, 249);
    padding-right: 10px;
    transition: 0.25s;
    cursor: pointer;
}

.buttonIndex:after {
    content: '\00bb';
    position: relative;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.buttonIndex:hover:after {
    opacity: 1;
    right: -3px;
}


/* Aquí falta que se ajusten al limite superior*/
#imageContainer {
    width: auto;
    display: block;
    margin-top: -135px;
    border: 1px solid red;
}

.image {
    position: relative;
    width: 100%;
    max-height: 500px;
    min-height: 500px;
    left: 0px;
    z-index: -5;
    animation-name: image;
    animation-duration: 1.5s;   
}

@keyframes image {
    from {opacity: 0.8;}
    to {opacity: 1;}
}

.dot {
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.lorem {
    position: static;
    display: block;
}



/* Queda pendiente ver cómo hacer que esto afecte a cada texto del Array*/
.especialidades {
    font-size: 3rem;
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    }

    .containerCartas {
        float: left; 
        width: 85%;
        border: solid 2px rgb(255, 0, 0);
    }

    .containerOsitos {
        position: static;
        border: solid 2px rgb(255, 0, 0);
        width: 10%;
        float: right;
    }

    .cadaCarta {
        border: 1px solid rgb(7, 255, 15);
        display: block;
        cursor: pointer;        
    }
    .cadaCarta:hover {
        -webkit-text-fill-color: rgb(0, 31, 59);
    }

    .cadaOsito {
        border: 1px solid rgb(0, 13, 255);
        vertical-align: text-bottom;
        text-align: center;
        font-size: 3.35rem;
        cursor: pointer;
    }
    .cadaOsito:hover {
        animation: scale 0.3s ease-in-out;
        animation-fill-mode: initial;
    }
    .cadaOsito:after {
        animation: scale 0.5s;
        animation-direction: reverse;
    }

    @keyframes scale {
        0% {
            transform: scale(1) rotate(0deg);
        }
        100% {
            transform: scale(1.2) rotate(360deg);
        }
    }

.containerProyecto {
    width: 100%;
    min-height: fit-content;
    border: solid 2px black;
    align-items: center;
}

.cadaProyecto {
    display: inline-flex;
    box-sizing: border-box;
    min-width: 190px;
    margin: 20px;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
    .cadaProyecto:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
    .cadaProyecto:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

#three-canvas {
    position: absolute;
    align-items: center;
    height: 600px;
    width: 100vw;
    outline: none;
}