* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    width: 95vw;
}

#logo {
    filter: invert(1);
    mix-blend-mode: difference;
    height: 30px;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    padding: 5px;
    margin: auto;
    float: left;
    text-align: left;
    left: 1rem;
    top: 1rem;
    z-index: 20;
}
#titulo {
    filter: invert(1);
    mix-blend-mode: difference;
    width: auto;
    height: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    padding: 5px;
    margin: auto;
    text-align: right;
    right: 2.5vw;
    top: 2.9rem;
    z-index: 20;
}

.container {
    margin-top: 10px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-content: flex-start;
    align-items: flex-start;
}

.dashContainer {
    position: relative;
    display: flex;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dash {
    position: absolute;
    top: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #3FBFBF;
    filter: blur("10px");
    box-shadow: 1px 0px 5px 0px rgb(202, 202, 202);
    color: rgb(202, 202, 202);
    animation: bounce 20s ease-in-out infinite;
}
@keyframes bounce {
    0% {
      transform: translateX(30vw);
    }
    50% {
        transform: translateX(-30vw);
    }
    100% {
        transform: translateX(30vw);
    }
}

.titleLeft {
    margin-bottom: 10px;
    text-align: left;
}
.titleRight {
    margin-bottom: 10px;
    text-align: right;
}
.title {
    margin-bottom: 10px;
    text-align: center;
}

.text {
    text-align: justify;
    margin-bottom: 10px;
}

img {
    display: block;
    height: 300px;
    margin-bottom: 10px;
}



.cover {
    object-fit: cover;
}
.contain {
    object-fit: contain;
}



.muyAncho {
    width: 100%;
}
.ancho {
    width: 100%;
}
.mitad {
    width: 49.5%;
}
.tercio {
    width: 33%;
}

#fullpage {
    display: none;
    position: absolute;
    padding: 0px;
    z-index: 9999;
    top: 0px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.776);
    backdrop-filter: blur(1px);
    overflow: hidden;
    border-bottom: 50px solid white;
}
#imageFullPage {
    position: absolute;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10000;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
.altText {
    position: absolute;
    z-index: 10000;
    width: 100vw;
    text-align: center;
    background: none;
}




@media only screen and (orientation: landscape){

    .container {
        display: inline-flex;
        margin-bottom: 20px;
    }

    .left {
        width: 40vw;
        display: inline-flex;
        text-align: justify;
    }
    .right {
        width: 44vw;
        display: inline-flex;
    }
    #titulo {
        right: 4vw;
    }

    .title .right {
        margin-bottom: 10px;
    }

    img {
        display: inline-flex;
        object-fit: cover;
        width: 50vw;
        height: 400px;
    }
    .cover {
        object-fit: cover;
    }
    .contain {
        object-fit: contain;
    }   


    .muyAncho {
        width: 100%;
    }
    .ancho {
        width: 80%;
    }
    .estrecho {
        width: 19%;
    }
    .mitad {
        width: 49.5%;
    }
    .tercio {
        width: 33%;
    }
}