* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    width: 95vw;
}

#logo {
    filter: invert(1);
    mix-blend-mode: difference;
    height: 30px;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    padding: 5px;
    margin: auto;
    float: left;
    text-align: left;
    left: 1rem;
    top: 1rem;
    z-index: 20;
}

.container {
    border: 1px solid rgb(178, 245, 249);
    margin-bottom: 30px;
    margin-top: 10px;
    display: block;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.title {
    margin-bottom: 10px;
}

.text {
    text-align: justify;
    margin-bottom: 10px;
}


img {
    display: block;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.ancha {
    width: 95vw;
}



@media only screen and (orientation: landscape){

    .container {
        display: inline-flex;
        
    }

    .container .right {
        text-align: right;
    }

    .container .left {
        text-align: left;
    }

    .title .right {
        margin-bottom: 10px;
    }

    img {
        display: inline-flex;
        object-fit: cover;
        width: 50vw;
        height: 300px;
    }

    .text {
        width: 44vw;
        display: inline-flex;
    }
}