/*Para todo el proeycto*/
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

#logo {
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  padding: 5px;
  margin: auto;
  float: left;
  text-align: left;
  left: 1rem;
  top: 1rem;
  z-index: 10;
}
#logo:hover {
  cursor: pointer;
  animation-name: estira;
}
#mueve:hover {
  animation-name: estira 0.5s;
}

@keyframes estira {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* DESPLEGABLE ------------------------------------------------------------- */

#backContainer {
  z-index: 11;
  position: fixed;
  top: 80px;
  left: 20px;
  width: 80px;
  height: 20px;
  text-align: left;
  border-radius: 20px;
  transition: all 0.5s;
  color: rgb(122, 122, 122);
}
#backContainer:hover {
  color: rgb(87, 87, 87);
  box-shadow: 0px 1px 2px 1px #3fbfbf82;
  cursor: pointer;
}
#back {
  z-index: 11;
  pointer-events: visible;
  width: 80px;
  position: absolute;
  color: rgb(202, 202, 202);
  transition: all 0.5s;
}
#back:hover {
  color: #3fbfbf82;
  transform: translateX(25px);
  cursor: pointer;
  visibility: visible;
}
#backArrow {
  position: absolute;
  transition: all 0.5s;
  width: 80px;
  left: -10px;
  text-align: center;
  opacity: 0;
}
#backArrow:hover {
  transform: translateX(-40px);
  opacity: 1;
  color: #3fbfbf82;
}

/* OTROS ------------------------------------------------------------- */
.width {
  width: 95vw;
  margin-left: 0vw;
  margin-right: 5vw;
  user-select: none;
  position: relative;
}

#three-canvas {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  height: 100%;
  z-index: 0;
}

#nombreProyecto {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 50px;
  top: auto;
  bottom: 60px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.137);
  backdrop-filter: blur(1px);
  font-family: "Courier New", Courier, monospace;
}

.container-explicacion {
  position: absolute;
  text-align: justify;
  top: auto;
  background-color: white;
  bottom: 0px;
  height: 90px;
  z-index: 50;
}

.hidden {
  animation-name: collapseAnimation;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes collapseAnimation {
  from {
    visibility: visible;
  }
  to {
    visibility: collapse;
  }
}

#container-spinner {
  pointer-events: none;
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.spinner {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #3FBFBF 0%, #313f8f 100%);
  animation: spin8932 0.5s infinite linear;
}

.spinner:after {
  width: 85%;
  height: 85%;
  background-color: #212121;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin8932 {
  to {
    transform: rotate(360deg);
  }
}

#progress-text {
  padding: 20px;
  position: relative;
  top: 3rem;
}

.base-label {
  margin-top: 1rem;
  position: fixed;
  text-align: center;
  align-items: center;
  pointer-events: none;
  z-index: -2;
}

.label {
  position: relative;
  width: 100px;
  color: rgba(40, 66, 67, 0.487);
  font-size: 8px;
  padding: 8px;
  z-index: -2;
}

/* COLLAPSIBLE -------------------------------------------------------*/
.collapsible {
  position: fixed;
  display: flex;
  background-color: #ffffffde;
  box-shadow: 0px 1px 2px 1px rgb(202, 202, 202);
  color: rgb(202, 202, 202);
  border-radius: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 15px;
  width: 50px;
  top: auto;
  bottom: 140px;
  height: 35px;
  transition: all 0.5s;
  z-index: 2;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  transform: scale(0.04);
  filter: grayscale(100%) brightness(105%);
  transition: all 0.5s;
}

img:hover {
  filter: none;
  filter: grayscale(50%);
  transition: all 0.5s;
}

.coll2 {
  left: 2vw;
}

.active {
  background-color: #ffffffde;
  box-shadow: 0px 1px 2px 1px #3fbfbf82;
  color: #ffffff7d;
}
.collapsible:hover {
  background-color: #ffffff;
  color: #3fbfbf82;
  box-shadow: 0px 2px 3px 2px #3fbfbf82;
}


/* GUI-CONTAINER ----------------------------------------------------- */
#gui_container {
  display: none;
  position: fixed;
  top: auto; 
  bottom: 185px;
  z-index: 15;
}

.lil-gui {
  color: #000000;
  background: #ffffff84;
  --tittle-background-color: #3fbfbf00;
  --widget-color: #3fbfbf18;
  --hover-color: #4f4f4f14;
  --focus-color: #4f4f4f14;
  --number-color: #000000;
  --name-width: 0%;
}

.lil-gui.root {
  width: 380px;
}

.lil-gui .title {
  --title-height: 0px;
}

.lil-gui .controller .name {
  text-align: left;
  width: 50px;
}

.lil-gui .controller.number .slider {
  background-color: #ffffff76;
}
.lil-gui .controller.number .slider:hover {
  background-color: #f0f0f076;
}

.lil-gui input {
  text-align: center;
  width: 10px;
  color: #000000;
  background-color: #ffffff76 ;
}

.title {
  background: none;
  visibility: collapse;
  --tittle-background-color: #3fbfbf00;
}

.lil-gui.autoPlace {
  top: 398px;
  margin-bottom: 2px;
  left: -55px;
  background-color: rgba(255, 255, 255, 0.137);
  backdrop-filter: blur(1px);
}




/* MEDIA ------------------------------------------------------------- */
@media only screen and (max-width: 2000px) and (orientation: landscape) {
  /* #three-canvas{
    float: left;
    width: 50vw;
  } */
  #container-spinner{
    height: 100%;
  }
  .container-explicacion {
    height: 50px;
  }
  #nombreProyecto{
    bottom: 30px;
    text-align: center;
  }
  .collapsible {
    bottom: 58px;
    top: auto;
  }
  #gui_container {
    top: auto;
    bottom: 100px;
  }
}